.page-default{
    background: #F3F3F3;
}

.page-default ul,
.page-default ol {
    padding-left: 30px;
}

.page-default .footer ul{
    padding: 0;
}

.page-default-content {
    margin-top: 30px;
}

.categories {
    margin-top: 30px;
}

.categories li {
    margin-bottom: 5px;
}

.categories h4 {
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 600;
}

.categories a {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 1;
}

.single-address {
    margin-top: 30px;
    font-size: 16px;
    color: #333333;
}

.detail{
    margin-top: 30px;
    padding: 30px;
    border-radius: 8px;
    background: #FFFFFF;
}

.page-default-content figure{
    text-align: center;
}


@media screen and (max-width: 1024.98px){
    .detail{
        padding: 30px 20px;
    }
}

@media screen and (max-width: 767.98px){
    .detail{
        padding: 25px 15px;
    }
}
