.members{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
}
.member-item{
   width: calc(100% / 2 - 30px);
   margin: 15px;
   padding: 30px; 
   background-color: antiquewhite;
   border-radius: 15px;
   position: relative;
   overflow: hidden;
   transition: 0.5s ease;
}

.member-item:hover .member__info{
    display: block;
}
.member__avatar{
    border: 3px solid #034c9f;
    border-radius: 50%;
    overflow: hidden;
}
.member__content{
    text-align: center;
}
.member__info{
    display: none;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(0);
    animation: 1s fadeDown;
    transition: 0.5s ease;
}
.member__info h4{
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.5;
}

.member__info ul{
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;
}
.member__info ul li{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 16px;
    position: relative;
    padding-left: 20px;
}

.member__info ul li::before{
    width: 7px;
    height: 7px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    border-radius: 50%;
}

.member__info ul li:last-child{
    margin-bottom: 0;
}

.elderly__section{
    background-color: #FFFFFF;
}

.elderly-content{
    padding-top: 40px;
}

.elderly-content h3{
    font-size: 22px;
}

.elderly-content ul{
    padding-left: 0;
    list-style: none;
}

.elderly-content ul li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
}

.elderly-content ul li::before{
    width: 7px;
    height: 7px;
    background: #000000;
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    border-radius: 50%;
}

@media(max-width: 767px){
    .member-item{
        width: calc(100% - 30px);
    }
    .member__info h4{
        font-size: 20px;
    }
}


@keyframes fadeDown {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}