.single ul,
.single ol {
    padding-left: 30px;
}

.single .footer-links ul{
    padding: 0;
}


.single__section .wrapper {
    max-width: 860px;
    margin: 0 auto;
}

.single-content {
    margin-top: 30px;
}

.categories {
    margin-top: 30px;
}

.categories li {
    margin-bottom: 5px;
}

.categories h4 {
    font-size: 20px;
    line-height: 1.3em;
    font-weight: 600;
}

.categories a {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 1;
}

.single-address {
    margin-top: 30px;
    font-size: 16px;
    color: #333333;
}

.detail{
    padding-top: 30px;
    border-top: 1px solid #00000020;
}

.single-content figure{
    text-align: center;
}

.single-content h2,
.single-content h3,
.single-content h4,
.single-content h5,
.single-content h6{
    line-height: 1.5em;
}

.single-content p{
    font-size: 14px;
    line-height: 1.6em;
    color: #333333;
}

