@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root{
    --font-family: "Open Sans", sans-serif;
}


*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

p,h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 16px;
}

a{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #d77d31;
}

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

section{
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* column */

.col-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* Swiper default */

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after{
    display: none;
}

.swiper .swiper-button{
    font-size: 32px;
    color: #FFFFFF;
    opacity: 0.6;
    transition: all 0.3s;
}

.swiper .swiper-button:hover{
    opacity: 1;
}

.swiper-pagination{
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);  
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    margin: 4px;
    background: #FFFFFF;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
}

.swiper-pagination-bullet-active{
    opacity: 1;
}

.padding__ss{
    padding: 100px 0;
}

hgroup{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.heading{
    font-size: 32px;
    color: #4a5157;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 1.3em;
    text-transform: uppercase;
    text-align: center;
}

.description{
    line-height: 150%;
    font-size: 16px;
    color: #5e5e5e;
    word-spacing: 4px;
    font-weight: 400;
}

.bg-green-1{
    background-color: #acd373;
}

.bg-green-2{
    background-color: #8dc63f;
}


@media screen and (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

@media screen and (min-width: 768px){

    .col-50{
        width: 50%;
    }
    
    .col-33{
        width: calc(100% / 3);
    }
    
    .col-25{
        width: 25%;
    }
}


@media screen and (max-width: 1024.98px){
    
}

@media screen and (max-width: 767.98px){

    .col{
        width: 100%;
    }
}

@media screen and (max-width: 480px){

}

